@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
:root {
  /* Define Colors as colors */
  --purple: #BC13DF;
  --red: #860438;
  --green: #44ec11;
  --yellow: #FFB800;
  --black: rgba(60,60,60,0.4);
  --blue: #34b9ff;
  --darkblue: #3C3D80;
  --darkGrey: rgba(145, 145, 145,0.5);
  --grey: #51515a;
  --greydient: linear-gradient(to bottom, #666666, #283048); 
  --lightGrey: #EBEBEB;
  --white: #FFFEFE;
  --transparentWhite: rgba(255, 254, 254,0.2);


  /* Define Colors intentions */
  --primary: var(--yellow);
  --failure: var(--red);
  --success: var(--green);
  --background: var(--greydient);
  --logoColor: var(--darkblue);
  --textColor: var(--white);
  --buttonTextColor: var(--purple);
  --buttonBackgroundColor: var(--transparentWhite);
  --lineColor: var(--white);
  --cardBg: var(--darkGrey);
  --headerBackground: var(--yellow);
  --footerBackground: var(--yellow);

  --inputColor: var(--white);
  --inputBackground: var(--transparentWhite);

  /* Styles */
  --line: solid 1px var(--lineColor);

  /* Type */
  --headingFont: "Nixie One", sans-serif;
  --bodyFont: "Nixie One", sans-serif;
  --baseFontSize: 100%;
  --h1: 1.802em;
  --h2: 1.602em;
  --h3: 1.424em;
  --h4: 1.266em;
  --h5: 1.125em;
  --smallText: 0.8em;

  /* Elevation */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  /* Positioning */
  --containerPadding: 2.5%;
  --headerHeight: 3rem;
  --borderRadius: 10px;
}

/* FROM Type Scale */

html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
  background: var(--yellow)
} /*18px*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.65;
  background: var(--background);
  color: var(--textColor);
}

header {
  color: var(--black);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: var(--headerHeight);
  background: var(--headerBackground);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 var(--containerPadding);
}

header nav a {
  color: var(--grey);
  text-decoration: none;
}

header nav a + a {
  margin-left: 10px;
}

footer {
  --footerTextColor: var(--lightGrey);
  color: var(--footerTextColor);
  background: var(--footerBackground);
  padding: 2rem var(--containerPadding);
  text-align: center;
}

footer a {
  color: var(--footerTextColor);
}

footer p {
  margin-bottom: 0;
  max-width: none;
}

p {
  margin-bottom: 1.15rem;
  max-width: 40em;
}

p a,
blockquote a {
  color: var(--textColor);
  text-decoration: none;
  border-bottom: solid 2px var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--yellow);
  margin: 2.75rem 0 1.05rem;
  font-family: var(--headingFont);
  line-height: 1.15;
}
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--smallText);
}


/* End typescale */

blockquote {
  margin: 10px;
  padding: 2em;
  background: var(--cardBg);
  box-shadow: var(--level-3);
}
blockquote > *:first-child {
  margin-top: 0;
}

/* Last item will never have margin bottom */
blockquote > *:last-child {
  margin-bottom: 0;
}

label {
  display: block;
  font-size: var(--smallText);
}

input,
textarea {
  color: var(--inputColor);
  background: var(--inputBackground);
  padding: 4px 5px;
  border: var(--line);
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 5rem;
}

::placeholder {
  color: var(--grey);
}

select {
  border: var(--line);
}

hr {
  border-top: var(--line);
  margin: 40 auto;
  width: 66%;

}

button {
  --buttonBorderColor: var(--purple);
  appearance: none;
  color: var(--buttonTextColor);
  font-weight: 400;
  background-color: var(--buttonBackgroundColor);
  border: 2px solid var(--buttonBorderColor);
  border-radius: 200px;
  padding: 10px 50px;
  box-shadow: var(--level-1);
  transition: 0.3s ease-in-out box-shadow;
}

button:hover {
  box-shadow: var(--level-2);
}

button[disabled] {
  opacity: 0.4;
}

/* .cancel can mean anything */
button.cancel {
  --buttonColor: var(--danger);
  --textColor: white;
}

button.small {
  font-size: var(--smallText);
}

.layout {
  /* top padding header height + whatever visual padding we want */
  padding: calc(3rem + var(--headerHeight)) var(--containerPadding);
}

.grid {
  --gridCols: 2;
  display: block;
  grid-template-columns: repeat(var(--gridCols), 1fr);
}

.grid--split {
  grid-template-columns: 33% 67%;
  grid-gap: 20px;
}

.cols-3 {
  --gridCols: 3;
}

.split {
  display: grid;
  grid-template-columns: 33% 67%;
  grid-gap: 20px;
}

.flex {
  --justifyContent: space-between;
  display: block;
  justify-content: var(--justifyContent);
}

.flex-around {
  --justifyContent: space-around;
}

@media only screen and (min-width: 1000px) {
  :root {
    --baseFontSize: 150%;
  }
  .grid {
    display: grid;
  }
  .flex {
    display: flex;
  }
}

.logo {
  font-size: var(--baseFontSize);
  color:var(--logoColor);
  margin: 0;
}

.card {
  padding: 2em;
  background: var(--cardBg);
  box-shadow: var(--level-3);
  border-radius: var(--borderRadius);
  max-width: 400px;
  text-align: center;
}

/* First item will never have margin top */
.card > *:first-child {
  margin-top: 0;
}

/* Last item will never have margin bottom */
.card > *:last-child {
  margin-bottom: 0;
}

.success-text{
  color:var(--success);
}
.failure-text{
  color:var(--failure);
}